$color: black;



.btn{
  border: none;
  padding: 1rem;
  color: $color;
  border: solid 1px gray;
  border-radius: 5px;
  width: 300px;
  @include formato-texto();


  &:hover{
    background-color: green;
    color: whitesmoke;
    cursor: pointer;
  }
}

.btn-2, a{
  @extend .btn;
  color: green;
  text-decoration: none;
}